body{
	width: 100%;
	height: 6942px;
	/*height: 1000px;*/
	margin: 0;
	padding: 0;
	background-image: url("../img/fundo.jpg");
	/*background-image: url("../img/fundo-2.png");*/
	/*background-repeat: no-repeat;*/
 	/*background-position: center -100px;*/
	background-color: #FCC71F;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #FFF;
	/*opacity: 0.65;*/
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li{
	float: left;
}

a{
	text-decoration: none;
	color: #FFF;
}

p{
	font-size: 14px;
}


#box-centralizado{
	width: 1230px;
	height: 100%; /* RETIRAR */
	margin: 0 auto;
	position: relative;
	/*background-color: #FFF;*/
}

#box-centralizado header{
	width: 100%;
	height: 90px;
	float: left;
	position: fixed;
}

#box-centralizado header #logo{
	width: 230px;
	height: 90px;
	float: left;
	text-align: center; /* RETIRAR */
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
 	background-position: center center;
	background-color: #363434;
}

#box-centralizado header #logo h1{
	margin-top: 35px;
	/*visibility: hidden;*/
}

#box-centralizado header nav{
	width: 1000px;
	height: 60px;
	float: left;
	background-color: #757D82;
}

#box-centralizado header nav ul{
	width: 780px;
	height: 60px;
	float: right;
}

#box-centralizado header nav ul li a{
	height: 14px;
	padding: 23px 11px;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	float: left;
}

#box-centralizado header nav ul li:first-child a{
	padding: 23px 15px 23px 14px;
}

#box-centralizado header nav ul li a:hover{
	background-color: #C7C7BE;
}

#box-centralizado header nav ul li a.ativo{
	background-color: #C7C7BE;
}

#box-centralizado #box-video{
	width: 100%;
	height: 500px;
	float: left;
	margin-top: 120px;
	/*background-color: rgba(0,255,255,0.65);*/
	background-color: #363434;
	text-align: center;
}

#box-centralizado #box-video p{
	font-size: 30px;
	margin-top: 200px;
}

#box-centralizado #box-empresa{
	width: 100%;
	height: 500px;
	float: left;
	margin-top: 40px;
}

#box-centralizado #box-empresa #descricao{
	width: 600px;
	height: 388px;
	float: left;
	padding: 48px 64px 64px 66px;
	background-color: #363434;
}

#box-centralizado #box-empresa #descricao h2{
	font-weight: bold;
	font-size: 28px;
	text-transform: uppercase;
	color: #FFF;
}

#box-centralizado #box-empresa #descricao p{
	margin-top: 28px;
	line-height: 21px;
}

#box-centralizado #box-empresa #imagem{
	width: 500px;
	height: 500px;
	float: left;
	background-image: url("../img/carro.jpg");
	background-repeat: no-repeat;
 	background-position: center top;
}

#box-centralizado #box-gestao-terceirizacao{
	width: 100%;
	height: 310px;
	float: left;
	margin-top: 40px;
}

#box-centralizado #box-gestao-terceirizacao ul li{
	width: 298px;
	height: 310px;
	border: 1px solid #757D82;
	border-radius: 2px;
	background-color: #FFF;
}

#box-centralizado #box-gestao-terceirizacao ul li:first-child{
	margin-right:5px;
	margin-left: 5px;
}

#box-centralizado #box-gestao-terceirizacao ul li:nth-child(3){
	margin-left: 5px;
}

#box-centralizado #box-gestao-terceirizacao ul li:last-child{
	margin-right:5px;
	margin-left: 8px;
}

#box-centralizado #box-gestao-terceirizacao ul li .passo{
	width: 50px;
	float: left;
	text-align: center;
	font-size: 28px;
	padding: 10px 0px;
	color: #362F25;
	background-color: #969279;
}

#box-centralizado #box-gestao-terceirizacao ul li .titulo{
	float: left;
	width: 248px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	padding: 0;
	margin: 0;
	padding-top: 4px;
	color: #FFF;
	background-color: #363434;
}

#box-centralizado #box-gestao-terceirizacao ul li:first-child .titulo,#box-centralizado #box-gestao-terceirizacao ul li:last-child .titulo{
	padding-top: 15px;
	height: 39px;
}

#box-centralizado #box-gestao-terceirizacao ul li:nth-child(2) .titulo,#box-centralizado #box-gestao-terceirizacao ul li:nth-child(3) .titulo{
	padding-top: 7px;
	height: 47px;
}

#box-centralizado #box-gestao-terceirizacao ul li p{
	color: #000;
	line-height: 21px;
	margin: 8px 5px 0px 5px;
	float: left;
}

#box-centralizado #box-gestao-terceirizacao ul li button{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	padding: 5px;
	cursor: pointer;
}

#box-centralizado #box-frota{
	float: left;
	width: 100%;
	height: 677px;
	margin-top: 56px;
	background-color: #969279;
}

#box-centralizado #box-frota .titulo{
    height: 135px;
    float: left;
    margin: 0px 26px;
    width: 1178px;
    border-bottom: 1px solid #CCC;
    clear: right;
}

#box-centralizado #box-frota .titulo h2{
	float: left;
	margin-top: 78px;
	margin-left: 5px;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
}

#box-centralizado #box-frota #lista-carros{
    height: 480px;
    float: left;
    margin-left: 29px;
    width: 271px;
}

#box-centralizado #box-frota #lista-carros ul{
	margin-top: 34px;
}

#box-centralizado #box-frota #lista-carros ul li{
	width: 271px;
	padding: 16px 0;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #333;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}

#box-centralizado #box-frota #lista-carros ul li.ativo, #box-centralizado #box-frota #lista-carros ul li:hover{
	background-color: #363434;
	color: #FFF;
}

#box-centralizado #box-frota #detalhe-carro{
	float: left;
	width: 907px;
	height: 480px;
}

#box-centralizado #box-frota #detalhe-carro .imagem-carro{
	float: left;
	width: 870px;
	height: 296px;
	margin: 34px 30px 0 30px;
}

#box-centralizado #box-frota #detalhe-carro .imagem-carro img{
	max-width: 870px;
	max-height: 296px;
   	display: block;
    margin: 0 auto;	
}

#box-centralizado #box-frota #detalhe-carro .descricao-carro{
	float: left;
	width: 870px;
	height: 148px;
	margin: 0 30px;	
}

#box-centralizado #box-frota #detalhe-carro .descricao-carro table{
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #757D82;
}

#box-centralizado #box-depoimentos{
	float: left;
	width: 100%;
	height: 400px;
	margin-top: 43px;
	padding: 90px;	
	background-color: #363434;
}

#box-centralizado #box-depoimentos .slick-prev, #box-centralizado #box-depoimentos .slick-next{
	background-color: #363434!important;
}

#box-centralizado #box-depoimentos .slick-prev{
	left: 10px;	
}

#box-centralizado #box-depoimentos .slick-next{
	right: 10px;	
}

#box-centralizado #box-depoimentos .slick-slide{
	text-align: center;
	font-size: 18px;
}

#box-centralizado #box-depoimentos .avatar-depoimento{ 
	background-image: url("../img/avatares.jpg");
	background-repeat: none;
	width: 165px;
	height: 156px;
	border-radius: 135px;
	margin: 0 auto;		
}

#box-centralizado #box-depoimentos .slick-dots{
	position: inherit!important;
	bottom: 0!important;
}

#box-centralizado #box-depoimentos .slick-dots li{
	float: inherit;
}